.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button-color {
    background-color: #00A54F!important;
    color: white;
}

.button-outline-reztya {
    border-color: #00A54F!important;
    color: #00A54F !important;
}

.button-outline-reztya:hover{
    background-color: #00A54F !important;
    color: white !important;
}

.container-product{
    padding-left: 200px;
    padding-right: 200px;
}

.form-control:focus {
    border-color: #00A54F !important;
}

.form-check-input:checked {
    background-color: #00A54F !important;
}

.outline-reztya {
    border-color: #00A54F !important;
}

.text-reztya {
    color: #00A54F !important;
}

.text-reztya:hover {
    color: #7DC241 !important;
}

.font-alander-reztya {
    font-family: Alander, sans-serif;
}

.font-futura-reztya {
    font-family: 'Futura Md BT', sans-serif;
}

.form-quantity{
    width: 70px;
}

.sign-box {
    width: 450px;
}

.box-up {
    margin-top: -4%;
    margin-bottom: -2%;
}

.card-sign {
    width: 30rem;
}
